---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./article/*.md', { eager: true }));
const postsFirst = allPosts.filter((post: any) => post.frontmatter.tags.includes("2022")).sort((a, b) => new Date(b.frontmatter.shortenedDate).getTime() - new Date(a.frontmatter.shortenedDate).getTime());;
const postsSecond = allPosts.filter((post: any) => post.frontmatter.tags.includes("2024")).sort((a, b) => new Date(b.frontmatter.shortenedDate).getTime() - new Date(a.frontmatter.shortenedDate).getTime());;
const postsThird = allPosts.filter((post: any) => post.frontmatter.tags.includes("2025")).sort((a, b) => new Date(b.frontmatter.shortenedDate).getTime() - new Date(a.frontmatter.shortenedDate).getTime());;
const pageTitle = "doom.pet"
---
<BaseLayout pageTitle={pageTitle}>
<h2><mark>doom</mark>.pet</h2>
<p>all current blog entries:</p>
<h3>2025</h3>
<ul>
{postsThird.map((post: any) => <li>{post.frontmatter.shortenedDate}: <a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>
<h3>2024</h3>
<ul>
{postsSecond.map((post: any) => <li>{post.frontmatter.shortenedDate}: <a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>
<h3>2022</h3>
<ul>
{postsFirst.map((post: any) => <li>{post.frontmatter.shortenedDate}: <a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>
<p><a href="/feed">view the rss feed here</a></p>

</BaseLayout>
